body {
  padding-top: 20px;
}

@media (min-width: 300px) {
  body {
    padding-top: 65px;
  }
}

.carousel-item {
  height: 100%;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 50%;
}

.portfolio-item {
  margin-bottom: 30px;
}
